PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5000

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@HOST/bjk_healthcare?retryWrites=true&w=majority&appName=Cluster28
DATABASE_NAME=bjk_healthcare

JWT_SECRET=CHANGE_ME
JWT_EXPIRES_IN=1d

COMPANY_NAME=BJK Healthcare Pvt. Ltd.
APP_NAME=BJK Healthcare Digital Brain
MODULE_NAME=BJK Healthcare Enterprise Platform
LOG_LEVEL=info

SEED_ADMIN_EMAIL=admin@bjkhealthcare.com
SEED_ADMIN_PASSWORD=CHANGE_ME
SEED_HR_MANAGER_PASSWORD=CHANGE_ME
SEED_SUPER_ADMIN_PASSWORD=CHANGE_ME
SEED_DIRECTOR_PASSWORD=CHANGE_ME
SEED_HR_ADMIN_PASSWORD=CHANGE_ME
SEED_QA_MANAGER_PASSWORD=CHANGE_ME
SEED_EMPLOYEE_PASSWORD=CHANGE_ME
